.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 245, 230);
    width: 243px;
    height: 100%;
}

.sidebar div {
    margin: 10px;
}

.icon {
    display: flex;
    justify-content: center;
}

.name {
    display: flex;
    justify-content: center;
}