.tabel {
    flex-grow: 1;
    margin: 10px;
}

.tabel table {
    width: 100%;
}

th {
    font-size: 20px;
}

table, tr, th, td {
    border-collapse: collapse;
    border: 3px solid black;
    padding: 5px;
}

.textalign {
    text-align: center;
}

.icon-table {
    width: 64px;
    height: 64px;
}