<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Note</title>
    <link rel="stylesheet" href="/css/header.css">

    <style>
        form {
            display: flex; /* flexer form */
            flex-direction: column; /* skal gå i kolonner */
            justify-content: center; /* centrer horizontalt */
            align-items: center; /* centrer vertikalt */
        }

        textarea {
            margin: 10px; /* plads rundt om */
        }

        label {
            margin-top: 20px; /* plads på toppen */
        }
    </style>

</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>


<form action="/updateNote" method="post">
    <!-- updateNote metoden skal også bruge et matchup_id for at finde det korrekte matchup, det fikser vi ved at have et hidden matchup_id -->
    <input type="hidden" name="matchup_id" th:value="${matchup.matchup_id}">
    <label for="note">Note: </label>
    <textarea placeholder="Type in your notes here" rows="10" cols="40" name="notes" id="note" th:text="${matchup.notes}"></textarea>
    <button type="submit">Confirm Note</button>
</form>

</body>
</html>