<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Note</title>
    <link rel="stylesheet" href="/css/header.css">

    <style>
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        textarea {
            margin: 10px;
        }

        label {
            margin-top: 20px;
        }
    </style>

</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>


<form action="/updateNote" method="post">
    <!-- updateNote method needs matchup_id to find correct matchup, therefore a hidden input -->
    <input type="hidden" name="matchup_id" th:value="${matchup.matchup_id}">
    <label for="note">Note: </label>
    <textarea placeholder="Type in your notes here" rows="10" cols="40" name="notes" id="note" th:text="${matchup.notes}"></textarea>
    <button type="submit">Confirm Note</button>
</form>

</body>
</html>